default: &default
  adapter: <%= Settings.web_db.adapter %>
  encoding: utf8
  pool: 5
  username: <%= Settings.web_db.username %>
  password: <%= Settings.web_db.password %>
  host: <%= Settings.web_db.host %>
  socket: <%= Settings.web_db.socket %>
  database: <%= Settings.web_db.database %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default

staging:
  <<: *default
