<h3>Add SSH BashHost to your two-factor authentication app</h3>

<div class="row">
  <div class="col-md-12">
    <h4>1. Scan barcode</h4>
    <p class="text-center"><%= image_tag current_account.qr_code, alt: 'authentication device code' %></p>
    <p>Itunes app for barcode image
     <a href="https://itunes.apple.com/us/app/duo-mobile/id422663827?mt=8">duo mobile</a> <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">google authentication</a></p>
    <p>Google play app for barcode image
     <a href="https://play.google.com/store/apps/details?id=com.duosecurity.duomobile">duo mobile</a> <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">google authentication</a></p>
    <p>After scanning the barcode image, the app will display a six-digit code that you can enter below.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= simple_form_for [:account, current_account], url: account_two_factor_authentication_path, wrapper: :horizontal_form, method: :post do |f| %>
      <%= f.input :otp_attempt %>

      <div class="form-group">
        <label class="col-sm-3"></label>
        <div class="col-sm-9">
          <p>Enter the six-digit code from the application</p>
          <%= f.submit t('view.two_factor_authentication.submit'), class: 'btn btn-sm btn-primary'%>
        </div>
    </div>
  <% end %>
  </div>
</div>