<% if flash[:notice] %>
<div class="flash alert alert-success" role="alert">
  <%= flash[:notice] %>
</div>
<% end %>

<% if flash[:alert] %>
<div class="flash alert alert-danger" role="alert">
  <%= flash[:alert] %>
</div>
<% end %>