<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
  <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="index.html#">Project name</a>
  <div id="navbar">
    <nav class="nav navbar-nav pull-left">
      <a class="nav-item nav-link" href="index.html#">Dashboard</a>
      <a class="nav-item nav-link" href="index.html#">Settings</a>
      <a class="nav-item nav-link" href="index.html#">Profile</a>
      <a class="nav-item nav-link" href="index.html#">Help</a>
    </nav>
    <form class="navbar-form pull-right">
      <input type="text" class="form-control" placeholder="Search...">
    </form>
  </div>
</nav>