<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li id="sidebar-control" class="bg-taggle">
      <a href="#">
         Toggle ☰
      </a>
    </li>
    <li>
      <a href="/account/ssh_keys"><%= t('App.ssh_keys', default: 'SshKeys')%></a>
    </li>
    <li>
      <a href="#"><%= t('App.two_factor', default: 'TowFactor')%></a>
    </li>
  </ul>
</div>

<script>
  $("#sidebar-control").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
</script>