<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li>
      <a href="/account/ssh_keys"><%= t(' view.sidebar.ssh_keys', default: 'SSH keys')%></a>
    </li>
    <li>
      <a href="/account/two_factor_authentication"><%= t('view.sidebar.two_factor', default: 'Two-factor authentication')%></a>
    </li>
  </ul>
</div>