<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li id="sidebar-control" class="bg-taggle">
      <a href="#">
         Toggle ☰
      </a>
    </li>
    <li>
      <a href="/account/ssh_keys"><%= t('app.ssh_keys', default: 'SSH keys')%></a>
    </li>
    <li>
      <a href="/account/two_factor_authentication"><%= t('app.two_factor', default: 'Two-factor authentication')%></a>
    </li>
  </ul>
</div>

<script>
  $("#sidebar-control").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
</script>