---

time_zone: Asia/Shanghai

db:
  adapter: mysql2
  host: 127.0.0.1
  username: ssh_bastion
  password: pa123456
  database: ssh_bastion_development

redis:
  host: 127.0.0.1
  port: 6379

smtp:
  host: 127.0.0.1
  port: 1025

web:
  ip: 192.168.100.100

local_bastion_host:
  user_name: developer

local_website_host:
  user_name: vagrant

local_remote_host:
  user_name: ubuntu
