
time_zone: "{{ time_zone }}"

web_url:
  host: "{{ web_url.host }}"
  port: "{{ web_url.port }}"

web_db:
  adapter: "{{ web_db.adapter }}"
  host: "{{ web_db.host }}"
  username: "{{ web_db.username }}"
  password: "{{ web_db.password }}"
  database: "{{ web_db.database }}"

web_smtp:
  host: "{{ web_smtp.host }}"
  port: "{{ web_smtp.port }}"

web_redis:
  host: "{{ web_redis.host }}"
  port: "{{ web_redis.port }}"

web_gpg_key:
  public_asc: |
    {{ lookup('file', 'backup/web_host/gpg_key/public_asc') | split('\n') | join("\n    ") }}
  id: "{{ lookup('file', 'backup/web_host/gpg_key/public_id') }}"

bastion_host:
  ip: "{{ bastion_host.ip }}"
  port: 22
  user: "{{ bastion_host.user }}"
  gpg_key:
    public_asc: |
      {{ lookup('file', 'backup/bastion_host/gpg_key/public_asc') | split('\n') | join("\n      ") }}
    id: "{{ lookup('file', 'backup/bastion_host/gpg_key/public_id') }}"
  ssh_key:
    public: |
      {{ lookup('file', 'backup/bastion_host/ssh_key/id_rsa.pub') | split('\n') | join("\n      ") }}

remote_host:
  ip: "{{ remote_host.ip }}"
  port: 22
  user: "{{ remote_host.user }}"

