---
- name: Build development system
  hosts: all
  become: true

  pre_tasks:
    - name: 'create $rvm_path/user'
      file: "path='{{ rvm1_install_path }}/user' state=directory"
      tags: ruby

    - name: 'touch $rvm_path/user/db'
      file: "path='{{ rvm1_install_path }}/user/db' state=touch"
      tags: ruby

    - name: 'insert $rvm_path/user/db'
      lineinfile: "dest={{ rvm1_install_path }}/user/db state=present regexp='^{{ item.key }}=' line='{{ item.key }}={{ item.val }}'"
      with_items:
        - {key: 'ruby_url', val: 'https://ruby.taobao.org/mirrors/ruby'}
      tags: ruby

    - name: 'Replace sources.list'
      template: "src=ubuntu-14.04_sohu_sources.list.j2 dest=/etc/apt/sources.list"
      tags: system

    - name: "Run 'apt-get update'"
      apt: update_cache=yes
      when: ansible_os_family == 'Debian'
      tags: system

    - name: Update all packages
      apt: upgrade=dist
      when: ansible_os_family == 'Debian'
      tags: system

  roles:
    - role: geerlingguy.ntp
      tags: system
      ntp_timezone: Asia/Shanghai
      ntp_servers:
        - cn.pool.ntp.org iburst

    - role: geerlingguy.git
      tags: git

    - role: geerlingguy.mysql
      tags: mysql
      mysql_packages:
        - mariadb-client
        - mariadb-server
        - python-mysqldb
        - libmysqlclient-dev
      mysql_bind_address: '127.0.0.1'
      mysql_databases:
        - name: ssh_bastion_development
      mysql_users:
        - name: ssh_bastion
          host: "%"
          password: pa123456
          priv: "ssh_bastion_development.*:ALL"

    - role: geerlingguy.redis
      tags: redis
      redis_port: 6379
      redis_bind_interface: 127.0.0.1

    - role: rvm_io.rvm1-ruby
      tags: ruby
      rvm1_rubies:
        - '2.2.2'
      rvm1_gpg_key_server: pgp.mit.edu
      rvm1_rvm_check_for_updates: false

    - role: geerlingguy.nodejs
      tags: nodejs
      nodejs_forever: false
